body {
    color: #212121;
    font-family: 'Nunito', Sans-Serif;
}
/* Text */
p {
    font-size: 18px;
    line-height: 1.7rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #4cbb17;
    margin: 0;
}
.display-1 {
    font-size: calc(6 * (1vw + 1vh - 1vmin));
}
.display-2 {
    font-size: calc(5.5 * (1vw + 1vh - 1vmin));
}
.display-3 {
    font-size: calc(4.5 * (1vw + 1vh - 1vmin));
}
.display-4 {
    font-size: calc(3.5 * (1vw + 1vh - 1vmin));
}
.display-5 {
    font-size: calc(2.5 * (1vw + 1vh - 1vmin));
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-primary {
    color: #4cbb17;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
/* Utilities */
.container-custom {
    max-width: 90vw;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.leading-shadow {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
/* Images */
.img-fluid {
    max-width: 100%;
    height: auto; 
}
/* Main Content */
.navbar-main {
    text-transform: uppercase;
    font-size: 20px;
}
.navbar-main-noscroll {
    background-color: transparent;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, rgba(0,0,0,.5)),to(transparent));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 0,transparent 100%);
    background-repeat: repeat-x;
    transition: all 200ms;
}
.navbar-main-scroll {
    background-color: white;
    -webkit-box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.10);
    box-shadow: 0px 4px 24px -1px rgba(0,0,0,0.10);
    transition: all 200ms;
}
.navbar-main .navbar-nav .nav-link {
    position: relative;
}
.navbar-main .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #4cbb17;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navbar-main .navbar-nav .nav-link:hover::before {
    transform: translate(-50%, 0) scaleX(1);
}
.navbar-main .navbar-nav .active > .nav-link::before {
    transform: translate(-50%, 0) scaleX(1);
}
.navbar-main-logo {
    height: 85px;
    width: auto;
}
.header-main {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.header-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.header-cont {
    color: #fff;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}
.header-text {
    font-weight: 800;
    color: #fff;
    font-size: calc(6 * (1vw + 1vh - 1vmin));
    text-transform: uppercase;
}
.about-cont {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.wave-break {
    position: absolute;
    top: 0;
    left: 0;
    width: 110vw;
    margin-top: -1px;
    margin-left: -5px;
}
.specialty-cont {
    color: #fff;
    background-color: #4cbb17;
    background-image: url('../images/backgrounds/plantspec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20vh;
    padding-bottom: 15vh;
    overflow: hidden;
}
.specialty-cont h1 {
    color: #fff;
}
.specialty-card {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 3px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    height: 100%;
}
.specialty-card:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.6);
}
.specialty-icon {
    width: 45%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding: 1.5rem;
    border-radius: 50%;
}
.specialty-icon img {
    height: auto;
    width: 100%;
}
.contact-input {
    width: 100%;
    margin-top: 0.6rem;
    padding: 0.7rem 0;
    border: 0;
    border-bottom: 2px solid #212121;
    color: #212121;
}
footer {
    background-color: #3e3e3e;
    color: rgba(255, 255, 255, 0.60);
}
footer p {
    font-size: 15px;
}
.footer-icon {
    -webkit-filter: invert(80%); /* Safari 6.0 - 9.0 */
    filter: invert(80%);
    height: 50px;
    width: auto;
    transition: filter 0.5s;
}
.footer-icon:hover {
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
}