$primary: #4cbb17;

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

@include media-breakpoint-up(lg) {
    .header-text {
        font-size: calc(6 * (1vw + 1vh - 1vmin)) !important;
    }
}
@include media-breakpoint-down(lg) {
    .navbar-main {
        background-color: #212121d7;
    }
    .navbar-main-noscroll {
        background-color: #212121d7 !important;
        background-image: none !important;
    }
}

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/nav";
@import "navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";