ErrorDocument 400 https://carsons.me/cap4102/error.php

ErrorDocument 401 https://carsons.me/cap4102/error.php

ErrorDocument 403 https://carsons.me/cap4102/error.php

ErrorDocument 404 https://carsons.me/cap4102/error.php

ErrorDocument 500 https://carsons.me/cap4102/error.php

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes